<div class="container">
  <div class="row" style="text-align: center">

    <%= link_to "Back to  movie", movie_path(@movie) %><br/>

    <h2>Write a review of <em><%= @movie.title %></em>.</h2>

    <%= form_for([@movie, @review]) do |f| %>
      <% if @review.errors.any? %>
        <div class="form-group">
          <%= pluralize(@review.errors.count, "error") %> prevented the review from being saved:
          <ul>
            <% @review.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :text %><br>
        <%= f.text_area "text" %>
      </div>
      <div class="form-group">
        <%= f.label :rating_out_of_ten %><br>
        <%= f.number_field :rating_out_of_ten %>
      </div>
      <div><%= f.submit "Submit", :class => "btn btn-default" %></div>
    <% end %>
  </div>
</div>
